{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Django File Upload</h2>
 <li class="card-text">Upload the pdf files.</li>
    <li class="card-text">Save the files.</li>
    <li class="card-text">View uploaded files with cover and download option.</li>
<br>
  <p class="card-text">
    Find the code on <a href="#">GitHub</a> or
    read the <a href="#">Blog Post</a>.
  </p>
  <p class="card-text">
    Vinay Somawat<br>
    <a href="#">@somawatvinay</a>
  </p>
{% endblock %}
